{% load static %}
<head>
	<title>student list</title>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  
  
 <style type="text/css">
   .sam{
    
     background-color: white;
    width:90%; 
    height:100%;
    border-radius:8%; 
    padding:5%; 
    margin:5%;
    align-content: center;
   }
   .dam{
    
    background-color:#ac53c7;

   
   }
</style>
</head>
<body>









<div class="dam">		<br>
  <div class="sam">
		
  <h2>YOUR STUDENTS</h2>
  
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>register number</th>
        <th>roll number</th>
      </tr>
    </thead>
    <tbody>
    	{% for i in akjh%}
      
      <tr>
       <td><a href="{{i.id}}"><b>{{i.name}}</b></a></td> 
        <td>{{i.reg}}</td>
        <td>{{i.roll}}</td>
      </tr>
     
      {%endfor%}
    </tbody>
  </table>
</div><br>

				
</div>








</body>
