{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>main</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  
  
 <style type="text/css">
   .sam{
    
     background-color: white;
    width:90%; 
    height:100%;
    border-radius:8%; 
    padding:5%; 
    margin:5%;
    align-content: center;
   }
   .dam{
    
    background-color:#ac53c7;
	 height :100%;

   
   }
</style>
</head>
<body>
<div class="dam"><br>
	<div class="sam">
		<a href="accounts/da.html"><img src="{% static 'images/t.png' %}" alt="IMG" height="300px" width="300px"></a>
		<a href="admin"><img src="{% static 'images/1.png' %}" height="300px" width="300px" align="right" alt="IMG">
</a>
	</div><br>
</div>
</body>
</html>
